compact-toolbar = True
debug-level = INFO
restore-session = True
start-maximized = False

[session]
programme-type = 

[radio]
categories = [["Arts", "Art"], ["Comedy,Games,Quizzes,Satire,Sitcoms,Sketch", "Comedy"], ["Crime,Thriller", "Crime"], ["Action,Adventure,Classic & Period,Drama,Historical,Psychological", "Drama"], ["History", "History"], ["Factual,Science,Technology", "Science"], ["Fantasy,SciFi", "Scifi"], ["Travel", "Travel"]]
channels = BBC Radio 2,BBC Radio 3,BBC Radio 4
download-path = /data/audio/bbc
preset-file = radio
run-in-terminal = True
subdir-format = 

[tv]
categories = [["Arts,Films", "Art"], ["Comedy,Games,Quizzes,Satire,Sitcoms,Sketch,Standup", "Comedy"], ["Crime,Thriller", "Crime"], ["Action,Adventure,Animation,Classic & Period,Drama,Films,Historical,Thriller", "Drama"], ["Films", "Films"], ["History", "History"], ["Lifestyle & Leisure", "Lifestyle"], ["Country,Gardens,Nature", "Nature"], ["Science,Factual", "Science"], ["Fantasy,SciFi", "Scifi"], ["Cars & Motors,Travel", "Travel"]]
channels = BBC One,BBC Two,BBC Three,BBC Four,BBC HD,BBC Web Only
download-path = /data/video/bbc
hdmode = flashhigh,flashhd,flashvhigh
preset-file = tv
run-in-terminal = True
subdir-format = 
