[Desktop Entry]
Name=BBC Get iPlayer Downloader
Exec=get_iplayer_downloader
Icon=get_iplayer_downloader
Terminal=false
Type=Application
Categories=Network;FileTransfer
Comment=Download BBC programmes
Encoding=UTF-8
StartupNotify=true
Hidden=false
